!!!
%html
  %head
    %title MageDetect by Avid Online
    %link{rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Oxygen:300,400,700'}
    %link{rel: 'stylesheet', href: stylesheet_path('styles')}
  %body
    %header
      .container
        %h1 MageDetect
        %a.avid{href: 'http://avidonline.co.nz/'}
          %span{style: 'color: #999'}by
          Avid Online
    .container
      =styled_flash
      .content=yield

