!!!
%html
  %head
    %title MageDetect by Avid Online
    %link(rel="stylesheet" href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css")
    %link(rel="stylesheet" href="css/styles.css")
  %body
    %header
      MageDetect
      %a{href: 'http://avidonline.co.nz/'} Avid Online
    #wrapper
      #header
        =styled_flash

      #content
        =yield

